# Virtual Environments
venv/
.venv/
ENV/
env/

# Environment Variables / Secrets
.env

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# IDE & OS Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
